Source: jquery-throttle-debounce
Priority: optional
Maintainer: Ben Finney <ben+debian@benfinney.id.au>
Section: web
Homepage: http://benalman.com/projects/jquery-throttle-debounce-plugin/
Build-Depends:
    node-uglify,
    debhelper (>= 9~)
Standards-Version: 3.9.8
VCS-Git: https://notabug.org/bignose/debian_jquery-throttle-debounce.git
VCS-Browser: https://notabug.org/bignose/debian_jquery-throttle-debounce/

Package: libjs-jquery-throttle-debounce
Architecture: all
Depends:
    ${misc:Depends}
Recommends:
    javascript-common
Description: library of rate-limit wrappers for functions
 jQuery throttle / debounce allows you to rate-limit your functions in
 multiple useful ways:
 .
  * Passing a ‘delay’ and ‘callback’ to ‘$.throttle’ returns a new
    function that will execute no more than once every ‘delay’
    milliseconds.
  * Passing a ‘delay’ and ‘callback’ to ‘$.debounce’ returns a new
    function that will execute only once, coalescing multiple
    sequential calls into a single execution at either the very
    beginning or end.
 .
 jQuery isn’t actually required for this library, because nothing
 internal uses any jQuery methods or properties. jQuery is just used
 as a namespace under which these methods can exist.
 .
 This package installs the runtime library.
